.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code {
  background-color: #d6d3f0;
  border: none;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin: 15% 0 1rem 0;
}

.join {
  background-color: #0b3142;
  color: #d6d3f0;
  border: none;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}
