.container {
  //   border: 1px solid #ccc;
  background-color: #0b3142;
  padding: 1.5rem;
  display: flex;
  border-radius: 5px;
  opacity: 0;
}

.container-loading {
  transition: all 0.2s ease-in-out;
  opacity: 100;
}
.event-date {
  margin-right: 1rem;
}

.event-styles {
  display: flex;
  justify-content: center;

  button {
    border: none;
    background-color: #0b3142;
    color: #d6d3f0;
    margin: 0 auto;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
  }

  .selected {
    background-color: #d6d3f0;
    color: #0b3142;
  }
}

.event-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  .input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #d6d3f0;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1rem;
  }

  .input:focus {
    outline: none;
  }

  .create {
    margin-top: auto;
    font-size: 1rem;
    background-color: #d6d3f0;
    color: #0b3142;
    border: none;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
  }
}
