<div class="container" [ngClass]="{'container-loading' : loaded}">
    <div class="event-date">
        <app-date-picker></app-date-picker>
    </div>
    <div class="event-info">
        <input class="input" id="name" type="text" placeholder="Event name">
        <input class="input" id="time" type="text" placeholder="Event time" >
        <input class="input" id="desc" type="text" placeholder="Event description">
        <button class="create" (click)="createEvent()">Create</button>
    </div>
</div>
