<div
  class="container"
  [ngClass]="{ 'container-loading': loaded }"
  [formGroup]="eventInfo"
>
  <div class="event-date">
    <app-date-picker
      [eventStyle]="this.eventInfo.value.eventStyle!"
      (datesSelected)="onDatesSelected($event)"
    ></app-date-picker>
  </div>
  <div class="event-info">
    <input
      class="input"
      id="name"
      type="text"
      placeholder="Event name"
      style="border-top-left-radius: 5px"
      formControlName="eventName"
    />
    <input
      class="input"
      id="name"
      type="text"
      placeholder="Your Name"
      style="border-top-left-radius: 5px"
      formControlName="eventCreator"
    />
    <div class="event-styles">
      <button
        [ngClass]="{ selected: this.eventInfo.value.eventStyle == 'specific' }"
        (click)="changeEventStyle('specific')"
      >
        Specific
      </button>
      <button
        [ngClass]="{ selected: this.eventInfo.value.eventStyle == 'broad' }"
        (click)="changeEventStyle('broad')"
        style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px"
      >
        Broad
      </button>
    </div>
    @if (this.eventInfo.value.eventStyle == 'specific') {
    <div class="time-pick">
      <!-- <select
        name=""
        id=""
        (change)="timeControl()"
        formControlName="startTime"
      >
        <option *ngFor="let time of times" [ngValue]="time">
          {{ time | date : "shortTime" }}
        </option>
      </select> -->
      <mat-form-field>
        <mat-label>Pick a time</mat-label>
        <input matInput [matTimepicker]="picker">
        <mat-timepicker-toggle matIconSuffix [for]="picker"/>
        <mat-timepicker #picker/>
      </mat-form-field>
      <!-- <select name="" id="" formControlName="endTime">
        adding selected sets it to the bottom of the dropdown for some reason
        <option *ngFor="let time of filteredTimes" [ngValue]="time">
          {{ time | date : "shortTime" }}
        </option>
      </select> -->
      <mat-form-field>
        <mat-label>Pick a time</mat-label>
        <input matInput [matTimepicker]="picker">
        <mat-timepicker-toggle matIconSuffix [for]="picker"/>
        <mat-timepicker #picker/>
      </mat-form-field>
    </div>
    }
    <button
      class="create"
      (click)="isEventValid()"
      [ngClass]="{ 'btn-disabled': !this.eventInfo.valid }"
    >
      Create
    </button>
  </div>
</div>
<div class="preview" *ngIf="selectedDates.length">
  <h2>Dates Selected</h2>
  <div class="dates">
    @for (date of selectedDates; track $index) {
    <div class="date">
      <span
        >{{ date | date : "mediumDate" }}
        {{ eventInfo.value.startTime | date : "shortTime" }}
        <span *ngIf="eventInfo.value.endTime"> - </span>
        {{ eventInfo.value.endTime | date : "shortTime" }}</span
      >
    </div>
    }
  </div>
</div>
